@import "tailwindcss";
@import "./component.css";

/****************************
*
* Base classes 
*
*****************************/
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
  }
  html {
    font-family: var(--font-body);
    color: var(--color-light-foreground);
    font-kerning: none;
    text-rendering: optimizeSpeed;
    scrollbar-gutter: stable;
  }
  h1 {
    line-height: 50px;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-family: var(--font-important) !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

:root {
  --square-grid-size: 100px;
}
@theme inline {
  --font-important: var(--font-lato);
  --font-body: var(--font-open-sans);
}

@theme {
  --spacing: 8px;
  --color-primary: #1f1b24;
  --color-secondary-orange: #ff5c00;
  --color-secondary-orange-dead: #631f00;
  --color-secondary-red: #ee002e;
  --color-cta: #47dc00;
  --color-cta-hover: #8ef060;
  --color-foreground-white: #f9f9f9;
  --color-stroke: #4c4a4a;
  --color-primary-shade: #27232f;
  --text-size-xl: clamp(2.2rem, 3vw, 2.6rem);
  --text-size-lg: clamp(1.8rem, 3vw, 2.2rem);
  --text-size-md: clamp(1.3rem, 3vw, 1.8rem);
  --text-size-sm: clamp(1.1rem, 3vw, 1.3rem);
  --text-size-xsm: clamp(0.8rem, 3vw, 0.95rem);
  --breakpoint-mobile-md: 430px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
}
